asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
scikit-learn 
numpy 
pandas 
matplotlib 
pillow 
scipy
openpyxl>=3.0,<4.0
pulp>=2.7,<3.0
python-dotenv>=1.0,<2.0

